// define global less mixins here
@base-font: 'Avenir', Arial, "Helvetica Neue", Helvetica, sans-serif;
@arial-font: Arial, "Helvetica Neue", Helvetica, sans-serif;

@xs-portrait: ~" only screen and (max-width: 479px)";
@xs-portrait-wider: ~" only screen and (max-width: 579px)";
@xs: ~" only screen and (max-width: 767px)";
@sm-min: ~" only screen and (min-width: 768px)";
@sm: ~" only screen and (max-width: 991px)";
@md-min: ~" only screen and (min-width: 992px)";
@md: ~" only screen and (max-width: 1199px)";
@lg-min: ~" only screen and (min-width: 1200px)";
@lg: ~" only screen and (max-width: 1400px)";
@retina: ~" only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2)";
@tablet-landscape: ~" only screen and (max-width: 1024px)";
@desktop-min: ~" only screen and (min-width: 1025px)";

.clearfix() {

    &:before,
    &:after {

        content: " "; /* 1 */
        display: table; /* 2 */

    }

    &:after {

        clear: both;

    }

}

// Creates a wrapper for a series of columns
.make-row(@gutter: @grid-gutter-width) {

    .clearfix();
    margin-left:  (@gutter / -2);
    margin-right: (@gutter / -2);

}

// Generate the extra small columns
.make-xs-column(@columns, @gutter: @grid-gutter-width) {

    position: relative;
    float: left;
    width: percentage((@columns / @grid-columns));
    // Prevent columns from collapsing when empty
    min-height: 1px;
    // Inner gutter via padding
    padding-left:  (@gutter / 2);
    padding-right: (@gutter / 2);

}

.placeholders(@color: #ccc) {

	&::-webkit-input-placeholder { color: @color; }
    &::-moz-placeholder { color: @color; }
    &:-moz-placeholder { color: @color; }

}

.border-radius(@rad: 5px) {

	-webkit-border-radius: @rad;
	-moz-border-radius: @rad;
	border-radius: @rad;

}

.box-shadow (@string) {

    -webkit-box-shadow: @string;
    -moz-box-shadow:    @string;
    box-shadow:         @string;

}

.transition (@transition) {

    -webkit-transition: @transition;
    -moz-transition:    @transition;
    -ms-transition:     @transition;
    -o-transition:      @transition;
    transition:         @transition;

}

.transform (@transform) {

    -webkit-transform: @transform;
    -moz-transform:    @transform;
    -ms-transform:     @transform;
    -o-transform:      @transform;
    transform:         @transform;

}

.animation (@animation) {

    -webkit-animation: @animation;
    -moz-animation:    @animation;
    -ms-animation:     @animation;
    -o-animation:      @animation;
    animation:         @animation;

}

.keyframes(@name; @arguments) {
    @-moz-keyframes @name { @arguments(); }
    @-webkit-keyframes @name { @arguments(); }
    @keyframes @name { @arguments(); }
}

.box-sizing (@string: border-box) {

    -webkit-box-sizing: @string;
    -moz-box-sizing: @string;
    box-sizing: @string;

}

.rgba(@colour, @alpha) {

    @alphaColour: hsla(hue(@colour), saturation(@colour), lightness(@colour), @alpha);
    @ieAlphaColour: argb(@alphaColour);  
 
    background-color: @colour; // Fallback for older browsers 
    background-color: @alphaColour; 
     
    .lt-ie9 & {

        background-color: transparent;
        // IE hacks
        zoom: 1; // hasLayout
        background-color: transparent\9;
        filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{ieAlphaColour}, endColorstr=@{ieAlphaColour})"; // IE 6 & 7

    } 
 
}

.hardware-accelerate() {

    -webkit-transform: translateX(0);
    -moz-transform:    translateX(0);
    -ms-transform:     translateX(0);
    -o-transform:      translateX(0);
    transform:         translateX(0);

}

.reset-list() {

    padding: 0;
    margin: 0;
    list-style: none;

}

.sprite-icon(@width, @height, @bg-position) {

    background-image: url("/assets/img/icons.png");
    background-repeat: no-repeat;
    background-position: @bg-position;
    width: @width;
    height: @height;
    content: "";
    display: inline-block;
    text-indent: -999em;

}

.retina-icon(@width, @height, @bg-position) {

    .sprite-icon(@width, @height, @bg-position);
    background-image: url("/assets/img/icons@2x.png");
    background-size: 270px 165px;
    background-position: @bg-position;
    width: @width;
    height: @height;

    .lt-ie9 & {

        background-image: url("/assets/img/icons.png");

    }
        
}

.button(@color: #fff) {

    .border-radius(0);
    .transition(background-color 250ms ease-in);
    background-color: @red;
    color: @color;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
    display: inline-block;
    border: none;
    padding: 12px 20px;
    text-decoration: none;

    &:focus {

        color: @color;

    }

    &:hover {

        color: @white;
        background-color: lighten(@red, 10%);
        text-decoration: none;

    }

    &.disabled,
    &[disabled] {

        opacity: 0.5;
        filter: alpha(opacity=50);

    }

}