/* Define global variables here */
@primary-font: 'Open Sans', sans-serif;
@heading-font: 'Quicksand', sans-serif;

//Primary Colours
@white: #fff;
@black: #000000;
@black-2: #252b34;
@red: #ef4136;
@grey: #525252;
@grey-light: #f9f9f9;

// General Contents Colours
@base-color: @black-2;
@link-color: @red;
@header-bg: #252b34;
@code-bg: #eeeeee;
@code-color: #2f5878;
@table-header-bg: #e5e5e5;
@table-stripe-bg: #f5f5f5;
@placeholder-color: #9F9999;
@form-control-bg: #E3DFDE;

@header-bg: #252B34;
@popup-bg-body: #eee;
@video-arrow: #2c7fc2;
@video-title: #0f67b3;