/* Define media queries */
/* Define global variables here */
/* Define global less mixins here */
/*****************************************************************
	Contains font-face decalaration
*****************************************************************/
/*****************************************************************
	Contains helper utility classes
*****************************************************************/
.page-wrapper .u-underline {
  text-decoration: underline;
}
.page-wrapper .u-round-borders {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
.page-wrapper .u-perfect-round {
  -webkit-border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100px;
  -moz-background-clip: padding;
  border-radius: 100px;
  background-clip: padding-box;
}
.page-wrapper .u-aligned-center {
  text-align: center;
}
.page-wrapper .u-aligned-right {
  text-align: right;
}
.page-wrapper .u-aligned-left {
  text-align: left;
}
.page-wrapper .u-aligned-justify {
  text-align: justify;
}
.page-wrapper .u-uppercase {
  text-transform: uppercase;
}
.page-wrapper .u-lowercase {
  text-transform: lowercase;
}
.page-wrapper .u-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.page-wrapper .u-full-width {
  width: 100%;
}
.page-wrapper .display-table {
  display: table;
  height: 100%;
  width: 100%;
}
.page-wrapper .display-table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.page-wrapper .two-columns {
  column-count: 2;
  column-gap: 30px;
  -moz-column-count: 2;
  -moz-column-gap: 30px;
  -webkit-column-count: 2;
  -webkit-column-gap: 30px;
  -webkit-margin-bottom-collapse: separate;
}
@media  only screen and (max-width: 767px) {
  .page-wrapper .two-columns {
    column-count: 1 !important;
    column-gap: 0 !important;
    -moz-column-count: 1 !important;
    -moz-column-gap: 0 !important;
    -webkit-column-count: 1 !important;
    -webkit-column-gap: 0 !important;
  }
}
.page-wrapper .two-columns .no-break {
  column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  display: inline-block;
  max-width: 100%;
}
.page-wrapper .two-columns li {
  column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
}
.page-wrapper .three-columns {
  column-count: 2;
  column-gap: 30px;
  -moz-column-count: 2;
  -moz-column-gap: 30px;
  -webkit-column-count: 2;
  -webkit-column-gap: 30px;
  -webkit-margin-bottom-collapse: separate;
  column-count: 3;
  -moz-column-count: 3;
  -webkit-column-count: 3;
}
@media  only screen and (max-width: 767px) {
  .page-wrapper .three-columns {
    column-count: 1 !important;
    column-gap: 0 !important;
    -moz-column-count: 1 !important;
    -moz-column-gap: 0 !important;
    -webkit-column-count: 1 !important;
    -webkit-column-gap: 0 !important;
  }
}
.page-wrapper .three-columns .no-break {
  column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  display: inline-block;
  max-width: 100%;
}
.page-wrapper .three-columns li {
  column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
}
.page-wrapper .no-csscolumns .force-two-columns {
  margin-left: -10px;
  margin-right: -10px;
}
.page-wrapper .no-csscolumns .force-two-columns:before,
.page-wrapper .no-csscolumns .force-two-columns:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.page-wrapper .no-csscolumns .force-two-columns:after {
  clear: both;
}
.page-wrapper .no-csscolumns .force-two-columns li {
  float: left;
  width: 50%;
  padding: 0 10px;
}
@media  only screen and (max-width: 579px) {
  .page-wrapper .no-csscolumns .force-two-columns li {
    width: 100%;
    float: none;
  }
}
.page-wrapper .no-csscolumns .force-two-columns li.second-child {
  clear: both;
}
.page-wrapper .no-csscolumns .force-three-columns {
  margin-left: -10px;
  margin-right: -10px;
}
.page-wrapper .no-csscolumns .force-three-columns:before,
.page-wrapper .no-csscolumns .force-three-columns:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.page-wrapper .no-csscolumns .force-three-columns:after {
  clear: both;
}
.page-wrapper .no-csscolumns .force-three-columns li {
  float: left;
  width: 33.3333% !important;
  padding: 0 10px;
}
@media  only screen and (max-width: 767px) {
  .page-wrapper .no-csscolumns .force-three-columns li {
    width: 100% !important;
    float: none;
  }
}
.page-wrapper .no-csscolumns .force-three-columns li.third-child {
  clear: both;
}
.page-wrapper img.u-aligned-right {
  float: right;
  margin-left: 20px;
}
@media  only screen and (max-width: 767px) {
  .page-wrapper img.u-aligned-right {
    float: none;
    margin-left: 0;
  }
}
.page-wrapper img.u-aligned-left {
  float: left;
  margin-right: 20px;
}
@media  only screen and (max-width: 767px) {
  .page-wrapper img.u-aligned-left {
    float: none;
    margin-right: 0;
  }
}
/***************************************************************************************************
	Contains typography, base styles of tags, and styles from styleguide
****************************************************************************************************/
html {
  height: 100%;
  -webkit-text-size-adjust: none;
  font-size: 10px;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 300;
  color: #252b34;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.page-wrapper {
  /*******************************************
		Start - Your custom classes / styles
	*******************************************/
  /*******************************************
		End - Your custom classes / styles
	*******************************************/
}
.page-wrapper a {
  color: #ef4136;
  cursor: pointer;
}
.page-wrapper a:hover {
  color: #ef4136;
  text-decoration: none;
}
.page-wrapper a:focus {
  color: #ef4136;
  text-decoration: none;
  outline: none;
}
.page-wrapper code {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  color: #2f5878;
  background: #eeeeee;
  padding: 2px 9px;
}
.page-wrapper p {
  margin: 0 0 20px;
  line-height: 1.4;
}
.page-wrapper blockquote {
  border-left-color: #ef4136;
}
.page-wrapper img,
.page-wrapper iframe {
  max-width: 100%;
}
.page-wrapper h1,
.page-wrapper h2,
.page-wrapper h3,
.page-wrapper h4,
.page-wrapper h5 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  margin-top: 0;
}
.page-wrapper h1 {
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 1.13;
  margin-bottom: 20px;
}
.page-wrapper h2 {
  font-size: 40px;
  font-size: 4.0rem;
  line-height: 1.13;
  margin-bottom: 20px;
}
.page-wrapper h3 {
  font-size: 36px;
  font-size: 3.6rem;
  letter-spacing: 0.3px;
  line-height: 1.17;
  margin-bottom: 20px;
}
.page-wrapper h4 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.25;
  margin-bottom: 20px;
}
.page-wrapper h5 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.33;
  margin-bottom: 20px;
}
.page-wrapper ul {
  padding-left: 30px;
  margin-bottom: 20px;
}
.page-wrapper ul ul {
  margin-top: 10px;
  padding-left: 30px;
}
.page-wrapper ul li {
  margin-bottom: 10px;
}
.page-wrapper ol {
  list-style: none;
  counter-reset: item;
  padding-left: 10px;
  margin-bottom: 20px;
}
.page-wrapper ol ol {
  margin-top: 10px;
  padding-left: 0px;
}
.page-wrapper ol li {
  padding-left: 25px;
  margin-bottom: 10px;
  position: relative;
}
.page-wrapper ol > li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
  margin-right: 0px;
  position: absolute;
  left: 0;
}
.page-wrapper ol > li > ol {
  counter-reset: item2;
}
.page-wrapper ol > li > ol > li {
  position: relative;
  padding-left: 40px;
}
.page-wrapper ol > li > ol > li:before {
  content: counters(item, ".") "." counters(item2, ".") " ";
  counter-increment: item2;
  position: absolute;
  left: 0;
}
.page-wrapper ol > li > ol > li > ol {
  counter-reset: item3;
}
.page-wrapper ol > li > ol > li > ol > li {
  position: relative;
  padding-left: 55px;
}
.page-wrapper ol > li > ol > li > ol > li:before {
  content: counters(item, ".") "." counters(item2, ".") "." counters(item3, ".") " ";
  counter-increment: item3;
}
.page-wrapper ol.alphabet-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 20px;
}
.page-wrapper ol.alphabet-list > li:before {
  content: "(" counter(item, lower-alpha) ") ";
  margin-right: 0;
}
.page-wrapper .table {
  font-weight: 300;
  border: 1px solid #ddd;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.page-wrapper .table > thead > tr {
  background: #e5e5e5;
}
.page-wrapper .table > thead > tr > th {
  font-weight: 500;
  color: #252b34;
  border-bottom: none;
  text-transform: uppercase;
}
.page-wrapper .table > thead > tr > th,
.page-wrapper .table > tbody > tr > th,
.page-wrapper .table > tfoot > tr > th,
.page-wrapper .table > thead > tr > td,
.page-wrapper .table > tbody > tr > td,
.page-wrapper .table > tfoot > tr > td {
  padding: 7px 19px;
  border: 1px solid #ddd;
}
.page-wrapper .table > thead > tr.total,
.page-wrapper .table > tbody > tr.total,
.page-wrapper .table > tfoot > tr.total {
  background-color: #f5f5f5;
}
.page-wrapper .table > thead > tr.total > th,
.page-wrapper .table > tbody > tr.total > th,
.page-wrapper .table > tfoot > tr.total > th,
.page-wrapper .table > thead > tr.total > td,
.page-wrapper .table > tbody > tr.total > td,
.page-wrapper .table > tfoot > tr.total > td {
  text-transform: uppercase;
  font-weight: 500;
}
.page-wrapper .table > tbody > tr:nth-child(odd) > td {
  background: none;
}
.page-wrapper .table > tbody > tr:nth-child(even) > td {
  background: #f5f5f5;
}
.page-wrapper .bg-red {
  background: #ef4136;
}
.page-wrapper .bg-grey {
  background: #525252;
}
.page-wrapper .bg-grey-light {
  background: #f9f9f9;
}
.page-wrapper .bg-black {
  background: #000000;
}
.page-wrapper .font-icon {
  font-size: 24px;
  font-size: 2.4rem;
}
.page-wrapper .font-icon.sm {
  font-size: 16px;
  font-size: 1.6rem;
}
.page-wrapper .font-icon.md {
  font-size: 24px;
  font-size: 2.4rem;
}
.page-wrapper .font-icon.lg {
  font-size: 35px;
  font-size: 3.5rem;
}
.page-wrapper .font-icon.xl {
  font-size: 46px;
  font-size: 4.6rem;
}
.page-wrapper .icon {
  text-indent: -999em;
  display: inline-block;
}
.page-wrapper .line-break {
  border-top: 1px solid #ef4136;
  margin-top: 23px;
  margin-bottom: 16px;
  width: 100%;
  clear: both;
}
.page-wrapper .line-break.dashed {
  border-top-style: dashed;
}
.page-wrapper .line-bold {
  border-top: 1px solid #ef4136;
  margin-top: 23px;
  margin-bottom: 16px;
  width: 100%;
  clear: both;
  border-top: 3px solid #ef4136;
}
.page-wrapper .line-bold.dashed {
  border-top-style: dashed;
}
.page-wrapper .intro {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33;
  margin-bottom: 20px;
}
.page-wrapper {
  /****************************************************************************************************
	Contains bootstrap override style
****************************************************************************************************/
  /*****************************************************************
	Contains layout styles
*****************************************************************/
  /*****************************************************************
	Contains header and main navigation styles
*****************************************************************/
  /*****************************************************************
	Contains footer styles
*****************************************************************/
}
.page-wrapper .breadcrumb {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: transparent;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 0;
}
.page-wrapper .breadcrumb:before,
.page-wrapper .breadcrumb:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.page-wrapper .breadcrumb:after {
  clear: both;
}
.page-wrapper .breadcrumb li {
  margin-bottom: 0;
  float: left;
}
.page-wrapper .breadcrumb li.active {
  color: #252b34;
}
.page-wrapper .breadcrumb li:first-child:before {
  display: none;
}
.page-wrapper .breadcrumb > li + li:before {
  content: '>';
  color: #252b34;
}
@media  only screen and (max-width: 767px) {
  .page-wrapper .breadcrumb > li {
    display: none;
  }
  .page-wrapper .breadcrumb > li a {
    vertical-align: middle;
  }
  .page-wrapper .breadcrumb > li:before {
    display: none;
  }
  .page-wrapper .breadcrumb > li:nth-last-child(2) {
    display: inline-block;
  }
  .page-wrapper .breadcrumb > li:nth-last-child(2):before {
    content: '<';
    display: inline-block;
    padding: 0 5px;
    vertical-align: middle;
  }
}
.page-wrapper .btn {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  -webkit-transition: all 400ms ease-in;
  -moz-transition: all 400ms ease-in;
  -o-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
  max-width: 100%;
  min-width: 138px;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  background-color: #ef4136;
  color: #ffffff;
}
.page-wrapper .btn:hover {
  text-decoration: none;
}
.page-wrapper .btn.disabled,
.page-wrapper .btn[disabled] {
  opacity: 0.5;
  filter: alpha(opacity=50);
  pointer-events: none;
}
.page-wrapper .btn:focus {
  color: #ffffff;
}
.page-wrapper .btn:hover {
  color: #ffffff;
  background-color: #b1180e;
}
.page-wrapper .btn.disabled:hover,
.page-wrapper .btn[disabled]:hover {
  background-color: #ef4136;
  color: #ffffff;
}
.page-wrapper .btn .font-icon {
  font-size: 14px;
  font-size: 1.4rem;
  margin-right: 3px;
  margin-left: 3px;
}
.page-wrapper .btn.bg-black {
  background-color: #000000;
  color: #ffffff;
}
.page-wrapper .btn.bg-black:focus {
  color: #ffffff;
}
.page-wrapper .btn.bg-black:hover {
  color: #ffffff;
  background-color: #000000;
}
.page-wrapper .btn.bg-black.disabled:hover,
.page-wrapper .btn.bg-black[disabled]:hover {
  background-color: #000000;
  color: #ffffff;
}
.page-wrapper .btn.btn-lg {
  padding: 15px 30px;
}
.page-wrapper .alert {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  border: none;
  position: relative;
  padding: 13px;
  padding-left: 20px;
}
.page-wrapper .alert.collapsible {
  padding-right: 70px;
}
.page-wrapper .alert .alert-close {
  border-left: 1px solid transparent;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
}
.page-wrapper .alert.alert-success .alert-close {
  color: #529138;
}
.page-wrapper .alert.alert-warning .alert-close {
  color: #caad16;
}
.page-wrapper input::-webkit-input-placeholder,
.page-wrapper textarea::-webkit-input-placeholder,
.page-wrapper .form-control::-webkit-input-placeholder {
  color: #9f9999;
}
.page-wrapper input::-moz-placeholder,
.page-wrapper textarea::-moz-placeholder,
.page-wrapper .form-control::-moz-placeholder {
  color: #9f9999;
}
.page-wrapper input:-moz-placeholder,
.page-wrapper textarea:-moz-placeholder,
.page-wrapper .form-control:-moz-placeholder {
  color: #9f9999;
}
.page-wrapper textarea {
  resize: vertical;
}
.page-wrapper fieldset + fieldset {
  margin-top: 20px;
}
.page-wrapper input[type="radio"],
.page-wrapper input[type="checkbox"] {
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  margin: 0 !important;
  position: absolute !important;
}
.page-wrapper input[type="radio"] + label,
.page-wrapper input[type="checkbox"] + label {
  cursor: pointer;
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 0;
  padding-left: 30px !important;
  position: relative;
  text-transform: none;
  vertical-align: middle;
}
.page-wrapper input[type="radio"] + label:before,
.page-wrapper input[type="checkbox"] + label:before {
  background-image: url("/assets/img/icons.png");
  background-repeat: no-repeat;
  background-position: -5px -4px;
  width: 20px;
  height: 20px;
  content: "";
  display: inline-block;
  text-indent: -999em;
  margin-right: 10px;
  position: absolute;
  vertical-align: middle;
  top: 0;
  left: 0;
}
.page-wrapper input[type="radio"]:checked + label:before,
.page-wrapper input[type="checkbox"]:checked + label:before {
  content: ",";
  background-position: -35px -4px;
}
.page-wrapper input[type="radio"] + label:before {
  background-image: url("/assets/img/icons.png");
  background-repeat: no-repeat;
  background-position: -5px -35px;
  width: 20px;
  height: 20px;
  content: "";
  display: inline-block;
  text-indent: -999em;
}
.page-wrapper input[type="radio"]:checked + label:before {
  background-position: -35px -35px;
}
.page-wrapper .radio + .radio,
.page-wrapper .checkbox + .checkbox {
  margin-top: 0;
}
.page-wrapper .form-control {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #ffffff;
  border: 1px solid #525252;
  border-color: rgba(82, 82, 82, 0.6);
  color: #000000;
  font-size: 18px;
  font-size: 1.8rem;
  height: 45px;
}
.page-wrapper .asterisk {
  color: #ef4136;
}
.page-wrapper .information-icon {
  font-size: 30px;
  font-size: 3.0rem;
}
.page-wrapper .form-group {
  margin-bottom: 30px;
}
.page-wrapper .form-group.has-error .form-field {
  position: relative;
}
.page-wrapper .form-group.has-error .form-field:after {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f071";
  color: #ef4136;
  font-size: 20px;
  font-size: 2.0rem;
  position: absolute;
  top: 14px;
  right: 19px;
}
.page-wrapper .form-group.has-error .form-control {
  border-color: #ef4136;
}
@media  only screen and (max-width: 767px) {
  .page-wrapper .form-group.mod-2-column .row > div {
    margin-top: 20px;
  }
  .page-wrapper .form-group.mod-2-column .row > div:first-child {
    margin-top: 0;
  }
}
.page-wrapper .form-group label {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.33;
  margin-bottom: 20px;
}
.page-wrapper .form-group .form-field {
  position: relative;
}
.page-wrapper .form-group .form-field input[type="file"] {
  position: absolute;
  left: -999em;
}
.page-wrapper .form-group .form-field input.file-name {
  vertical-align: middle;
  max-width: 250px;
  width: 68%;
  margin-right: 10px;
}
@media  only screen and (max-width: 479px) {
  .page-wrapper .form-group .form-field input.file-name {
    max-width: 140px;
  }
}
.page-wrapper .form-group .form-field .btn-browse {
  margin: 0;
  vertical-align: middle;
}
.page-wrapper .form-group .form-field .alert.alert-danger {
  margin-top: 10px;
  position: relative;
}
.page-wrapper .form-group .form-field .alert.alert-danger:before {
  content: "";
  border-bottom: 10px solid #f2dede;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  top: -10px;
  left: 20px;
}
.page-wrapper .form-group .form-inline .radio,
.page-wrapper .form-group .form-inline .checkbox {
  margin-right: 20px;
}
.page-wrapper .form-group .radio input[type="radio"],
.page-wrapper .form-group .radio-inline input[type="radio"] {
  margin-left: 0;
}
.page-wrapper .form-group .checkbox input[type="checkbox"],
.page-wrapper .form-group .checkbox-inline input[type="checkbox"] {
  margin-left: 0;
}
.page-wrapper .form-group .radio-inline + .radio-inline,
.page-wrapper .form-group .checkbox-inline + .checkbox-inline {
  margin-left: 0;
  padding-left: 0;
}
.page-wrapper .main-content {
  padding-top: 50px;
  padding-bottom: 40px;
  min-height: 300px;
}
@media  only screen and (max-width: 767px) {
  .page-wrapper .main-content {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}
.page-wrapper .sidebar .widget-video .video-details-description {
  display: none !important;
}
@media  only screen and (max-width: 991px) {
  .page-wrapper .sidebar {
    margin-top: 15px;
  }
  .page-wrapper .sidebar.pull-right {
    margin-top: 0;
  }
}
.page-wrapper .site-head {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
  background: #252b34;
  color: #ffffff;
  font-size: 16px;
  font-size: 1.6rem;
  padding-top: 24px;
  width: 100%;
  position: relative;
  z-index: 10;
}
@media  only screen and (max-width: 991px) {
  .page-wrapper .site-head {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: relative;
    padding-bottom: 23px;
  }
}
@media  only screen and (max-width: 767px) {
  .page-wrapper .site-head {
    padding-top: 20px;
    padding-bottom: 13px;
  }
}
@media  only screen and (max-width: 991px) {
  .page-wrapper .site-head:before {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
    content: "";
    display: block;
    height: 94px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media  only screen and (max-width: 767px) {
  .page-wrapper .site-head:before {
    height: 71px;
  }
}
.page-wrapper .site-head a {
  color: #ffffff;
  font-weight: 400;
}
.page-wrapper .site-head .btn {
  color: #ffffff;
}
.page-wrapper .site-head .menu-trigger {
  cursor: pointer;
  display: block;
  float: right;
  text-align: center;
  position: relative;
}
.page-wrapper .site-head-logo {
  margin-bottom: 0;
}
@media  only screen and (max-width: 767px) {
  .page-wrapper .site-head-logo {
    width: 162px;
  }
}
.page-wrapper .site-head-logo a,
.page-wrapper .site-head-logo img {
  display: block;
}
.page-wrapper .site-head-nav:before,
.page-wrapper .site-head-nav:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.page-wrapper .site-head-nav:after {
  clear: both;
}
@media  only screen and (max-width: 991px) {
  .page-wrapper .site-head-nav {
    display: none;
    padding-bottom: 5px;
    position: relative;
    top: 23px;
  }
}
@media  only screen and (max-width: 767px) {
  .page-wrapper .site-head-nav {
    top: 17px;
  }
}
@media  only screen and (min-width: 992px) {
  .page-wrapper .site-head-nav {
    display: block !important;
    height: auto !important;
    padding: 0 !important;
  }
}
.page-wrapper .site-head-nav > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  float: right;
  margin: 0 -15px;
  text-align: center;
}
.page-wrapper .site-head-nav > ul:before,
.page-wrapper .site-head-nav > ul:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.page-wrapper .site-head-nav > ul:after {
  clear: both;
}
@media  only screen and (max-width: 991px) {
  .page-wrapper .site-head-nav > ul {
    float: none;
    margin: 0;
    text-align: left;
  }
}
.page-wrapper .site-head-nav-dropdown {
  float: left;
  margin: 0 15px;
  padding-top: 12px;
  padding-bottom: 36px;
  line-height: 1.38;
}
@media  only screen and (max-width: 991px) {
  .page-wrapper .site-head-nav-dropdown {
    float: none;
    margin: 0;
    padding: 0;
  }
}
.page-wrapper .site-head-nav-dropdown:first-child {
  border-top: none;
}
.page-wrapper .site-head-nav-dropdown a {
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  color: #ffffff;
  display: block;
}
@media  only screen and (max-width: 991px) {
  .page-wrapper .site-head-nav-dropdown a {
    padding: 15px 0;
    border-top: 1px solid #f9f9f9;
  }
}
.page-wrapper .site-head-nav-dropdown.mod-button {
  padding-top: 0;
  padding-bottom: 0;
}
.page-wrapper .site-head-nav-dropdown.mod-button a {
  color: #ffffff;
  font-weight: 700;
}
@media  only screen and (max-width: 991px) {
  .page-wrapper .site-head-nav-dropdown.mod-button a {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    background: transparent;
    color: #ffffff;
    text-align: left;
  }
}
.page-wrapper .site-head-nav-dropdown.is-active a {
  position: relative;
}
.page-wrapper .site-head-nav-dropdown.is-active a:after {
  background: #ffffff;
  content: "";
  pointer-events: none;
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: -36px;
  left: 0;
}
@media  only screen and (max-width: 991px) {
  .page-wrapper .site-head-nav-dropdown.is-active a:after {
    display: none;
  }
}
.page-wrapper .hamburger {
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  background-color: #ffffff;
  display: block;
  margin: 14px 0 14px auto;
  height: 4px;
  width: 30px;
  position: relative;
}
.page-wrapper .hamburger:before,
.page-wrapper .hamburger:after {
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  content: '';
  display: block;
  background-color: #ffffff;
  height: 4px;
  width: 30px;
  position: absolute;
  left: 0;
}
.page-wrapper .hamburger:before {
  top: -8px;
}
.page-wrapper .hamburger:after {
  top: 8px;
}
.page-wrapper .hamburger.is-active {
  background-color: transparent;
}
.page-wrapper .hamburger.is-active:before {
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
  top: 0;
}
.page-wrapper .hamburger.is-active:after {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  top: 0;
}
.page-wrapper .site-footer {
  border-top: 1px solid #f9f9f9;
  padding-top: 30px;
  padding-bottom: 20px;
}
.page-wrapper .site-footer a {
  color: #252b34;
}
.page-wrapper .site-footer-nav:before,
.page-wrapper .site-footer-nav:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.page-wrapper .site-footer-nav:after {
  clear: both;
}
.page-wrapper .site-footer-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.page-wrapper .site-footer-nav ul:before,
.page-wrapper .site-footer-nav ul:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.page-wrapper .site-footer-nav ul:after {
  clear: both;
}
.page-wrapper .site-footer-nav ul li {
  float: left;
  margin-left: 20px;
  margin-bottom: 0;
  border-left: 1px solid #f9f9f9;
  padding-left: 20px;
}
.page-wrapper .site-footer-nav ul li:first-child {
  border-left: none;
  margin-left: 0;
  padding-left: 0;
}
.page-wrapper .site-footer-developer {
  text-align: right;
}
.page-wrapper .site-footer-developer p {
  margin-bottom: 0;
}
.page-wrapper .site-footer-developer img {
  vertical-align: baseline;
}
/*****************************************************************
	Contains widgets styles, plugin override styles
*****************************************************************/
/*****************************************************************
	Magnific Popup
*****************************************************************/
.magnific-popup {
  position: relative;
  padding: 20px;
  width: auto;
  max-width: 435px;
  margin: 20px auto;
}
.magnific-popup form header {
  background: #ffffff;
  padding: 20px 65px 20px 30px;
}
.magnific-popup form header h3 {
  color: #000000;
  font-weight: 700;
  margin-bottom: 0;
}
.magnific-popup form .body {
  background: #eeeeee;
  padding: 30px 30px 10px;
}
.magnific-popup form .body:before,
.magnific-popup form .body:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.magnific-popup form .body:after {
  clear: both;
}
@media  only screen and (max-width: 767px) {
  .magnific-popup form .body {
    padding-top: 10px;
  }
}
.magnific-popup form footer {
  background: #ffffff;
  padding: 20px 30px;
}
.magnific-popup form footer .form-row {
  margin-bottom: 0;
}
.magnific-popup form footer .form-group {
  margin-bottom: 0;
}
@media  only screen and (max-width: 767px) {
  .magnific-popup form footer .form-group {
    margin-top: 20px;
  }
  .magnific-popup form footer .form-group:first-child {
    margin-top: 0;
  }
}
.magnific-popup form .form-row.columns {
  margin-left: -6px;
  margin-right: -6px;
}
.magnific-popup form .form-row .col-2 {
  padding: 0 6px;
}
.magnific-popup .white-popup-content {
  -webkit-box-shadow: 0px 1px 3px 1px #525252;
  -moz-box-shadow: 0px 1px 3px 1px #525252;
  box-shadow: 0px 1px 3px 1px #525252;
  background: #ffffff;
}
.magnific-popup .mfp-close {
  top: 30px;
  right: 45px;
  font-size: 40px;
}
.magnific-popup.mfp-video-popup {
  max-width: 865px;
}
.magnific-popup.mfp-video-popup .mfp-iframe-scaler {
  position: relative;
}
.magnific-popup.mfp-video-popup .white-popup-content {
  padding-bottom: 20px;
}
.magnific-popup.mfp-video-popup header {
  padding: 25px 40px 5px 40px;
}
.magnific-popup.mfp-video-popup header h3 {
  color: #000000;
  margin-bottom: 0;
}
.magnific-popup.mfp-video-popup header .mfp-close {
  position: static;
  float: right;
  display: inline-block;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: auto;
  height: auto;
  opacity: 1;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125em;
  /* 18/16 */
  line-height: normal;
}
.magnific-popup.mfp-video-popup header .mfp-close .icon {
  margin-left: 5px;
  vertical-align: middle;
}
.magnific-popup.mfp-video-popup .body {
  padding: 10px 40px;
}
@media  only screen and (max-width: 767px) {
  .magnific-popup.mfp-video-popup header {
    padding: 20px 20px 0px 20px;
  }
  .magnific-popup.mfp-video-popup .body {
    padding: 10px 20px;
  }
}
/*****************************************************************
	Tooltipster - Override style
*****************************************************************/
.tooltipster-sidetip .tooltipster-box {
  background: #565656;
  border-color: #565656;
}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
  border-bottom-color: #565656;
}
.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {
  border-left-color: #565656;
}
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background {
  border-right-color: #565656;
}
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
  border-top-color: #565656;
}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
  border-bottom-color: #565656;
}
.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {
  border-left-color: #565656;
}
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border {
  border-right-color: #565656;
}
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
  border-top-color: #565656;
}
.tooltipster-sidetip .tooltipster-content {
  color: #ffffff;
}
.page-wrapper {
  /*****************************************************************
	Widget - Collapsibles
*****************************************************************/
  /*****************************************************************
	Widget - Toggle Tabs
*****************************************************************/
  /*****************************************************************
	Widget - Base style
*****************************************************************/
  /*****************************************************************
	Widget - Sub Navigation
*****************************************************************/
  /*****************************************************************
	Widget - Video
*****************************************************************/
  /*****************************************************************
	Widget - Gallery
*****************************************************************/
  /*****************************************************************
	Widget - Map
*****************************************************************/
}
.page-wrapper .collapsible {
  margin-bottom: 30px;
}
.page-wrapper .collapsible-item {
  margin-bottom: 10px;
}
.page-wrapper .collapsible-item > .collapsible-item-header {
  margin: 0;
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  background: #f9f9f9;
}
.page-wrapper .collapsible-item > .collapsible-item-header > a {
  color: #000000;
  position: relative;
  display: block;
  padding: 20px 20px 20px 50px;
  text-decoration: none;
}
.page-wrapper .collapsible-item > .collapsible-item-header > a:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f054";
  margin-top: -12px;
  position: absolute;
  left: 22px;
  top: 50%;
}
.page-wrapper .collapsible-item.is-open > .collapsible-item-header > a:before {
  content: "\f078";
  left: 20px;
}
.page-wrapper .collapsible-item-content {
  display: none;
  padding: 5px 20px;
  background: #f9f9f9;
}
.page-wrapper .collapsible.arrow-on-right .collapsible-item > .collapsible-item-header a {
  padding: 25px 45px 20px 20px;
}
.page-wrapper .collapsible.arrow-on-right .collapsible-item > .collapsible-item-header a:before {
  display: none !important;
}
.page-wrapper .collapsible.arrow-on-right .collapsible-item > .collapsible-item-header a:after {
  background-image: url("/assets/img/icons.png");
  background-repeat: no-repeat;
  background-position: -100px -185px;
  width: 12px;
  height: 18px;
  content: "";
  display: inline-block;
  text-indent: -999em;
  content: ".";
  position: absolute;
  right: 29px;
  top: 50%;
  margin-top: -9px;
}
.page-wrapper .collapsible.arrow-on-right .collapsible-item.is-open > .collapsible-item-header a:after {
  background-image: url("/assets/img/icons.png");
  background-repeat: no-repeat;
  background-position: -66px -190px;
  width: 18px;
  height: 12px;
  content: "";
  display: inline-block;
  text-indent: -999em;
  content: ",";
  margin-top: -6px;
}
.page-wrapper .toggle-tabs {
  margin-bottom: 30px;
}
@media  only screen and (max-width: 767px) {
  .page-wrapper .toggle-tabs {
    margin-bottom: 20px;
  }
}
.page-wrapper .toggle-tabs-nav {
  position: relative;
}
.page-wrapper .toggle-tabs-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
  border-bottom: 1px solid #f9f9f9;
  width: 100%;
}
.page-wrapper .toggle-tabs-nav ul:before,
.page-wrapper .toggle-tabs-nav ul:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.page-wrapper .toggle-tabs-nav ul:after {
  clear: both;
}
.page-wrapper .toggle-tabs-nav ul > li {
  display: table-cell;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0;
  padding-left: 0;
  width: 1%;
  position: relative;
}
.page-wrapper .toggle-tabs-nav ul > li a {
  background: transparent;
  color: #252b34;
  display: block;
  padding: 12px 28px;
  position: relative;
  text-align: left;
  text-decoration: none;
}
.page-wrapper .toggle-tabs-nav ul > li.is-active a {
  background: #f9f9f9;
  cursor: default;
}
.page-wrapper .toggle-tabs-nav.mod-float-left ul {
  display: block;
}
.page-wrapper .toggle-tabs-nav.mod-float-left ul > li {
  display: block;
  float: left;
  width: auto;
}
.page-wrapper .toggle-tabs-panel {
  background: transparent;
}
.page-wrapper .toggle-tabs-panel-item-header {
  display: none;
}
.page-wrapper .toggle-tabs-panel-item-content {
  padding-top: 30px;
  padding-bottom: 10px;
}
@media  only screen and (max-width: 767px) {
  .page-wrapper .toggle-tabs.mod-mobile-accordion > .toggle-tabs-nav {
    display: none;
  }
}
@media  only screen and (max-width: 767px) {
  .page-wrapper .toggle-tabs.mod-mobile-accordion > .toggle-tabs-panel > .toggle-tabs-panel-item {
    border-bottom: 1px solid #525252;
  }
  .page-wrapper .toggle-tabs.mod-mobile-accordion > .toggle-tabs-panel > .toggle-tabs-panel-item:first-child {
    border-top: 1px solid #525252;
  }
}
.page-wrapper .toggle-tabs.mod-mobile-accordion > .toggle-tabs-panel > .toggle-tabs-panel-item > .toggle-tabs-panel-item-header {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  background: transparent;
  display: none;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 10px 0;
  text-decoration: none;
}
@media  only screen and (max-width: 767px) {
  .page-wrapper .toggle-tabs.mod-mobile-accordion > .toggle-tabs-panel > .toggle-tabs-panel-item > .toggle-tabs-panel-item-header {
    display: block;
  }
}
@media  only screen and (max-width: 767px) {
  .page-wrapper .toggle-tabs.mod-mobile-accordion > .toggle-tabs-panel > .toggle-tabs-panel-item > .toggle-tabs-panel-item-content {
    display: none;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}
@media  only screen and (min-width: 768px) {
  .page-wrapper .toggle-tabs.mod-mobile-accordion > .toggle-tabs-panel > .toggle-tabs-panel-item > .toggle-tabs-panel-item-content {
    display: block !important;
  }
}
.page-wrapper .toggle-tabs.mod-tab-links > .toggle-tabs-panel > .toggle-tabs-panel-item.is-active > .toggle-tabs-panel-item-content {
  display: block !important;
}
.page-wrapper .widget {
  margin-bottom: 30px;
}
.page-wrapper .widget .widget-title {
  letter-spacing: 0.6px;
  line-height: 1.25;
}
.page-wrapper .widget .widget-content {
  padding: 0;
}
.page-wrapper .widget.mod-no-title {
  padding-top: 35px;
}
@media  only screen and (max-width: 767px) {
  .page-wrapper .widget.mod-no-title {
    padding-top: 0;
  }
}
.page-wrapper .widget-sub-navigation {
  margin-bottom: 30px;
}
.page-wrapper .widget-sub-navigation .widget-title {
  padding: 18px 18px 14px;
}
.page-wrapper .widget-sub-navigation .widget-content {
  padding: 0;
}
.page-wrapper .widget-sub-navigation .widget-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.page-wrapper .widget-sub-navigation .widget-content ul li {
  border-top: 1px solid #f9f9f9;
  margin-bottom: 0;
  font-weight: 700;
}
.page-wrapper .widget-sub-navigation .widget-content ul li:first-child {
  border-top: none;
}
.page-wrapper .widget-sub-navigation .widget-content ul li a {
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  color: #252b34;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}
.page-wrapper .widget-sub-navigation .widget-content ul li:hover > a,
.page-wrapper .widget-sub-navigation .widget-content ul li.is-active > a {
  position: relative;
  background: #f9f9f9;
}
.page-wrapper .widget-sub-navigation .widget-content ul li.has-submenu > a {
  position: relative;
  padding-right: 45px;
}
.page-wrapper .widget-sub-navigation .widget-content ul li.has-submenu > a:after {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f078";
  margin-top: -12px;
  position: absolute;
  top: 50%;
  right: 15px;
}
.page-wrapper .widget-sub-navigation .widget-content ul li .submenu {
  background: #e0e0e0;
  display: none;
}
.page-wrapper .widget-sub-navigation .widget-content ul li .submenu li {
  font-size: 1em;
  font-weight: 400;
  border-top: none;
}
.page-wrapper .widget-sub-navigation .widget-content ul li .submenu li a {
  color: #252b34;
}
.page-wrapper .widget-sub-navigation .widget-content ul li .submenu li:hover > a,
.page-wrapper .widget-sub-navigation .widget-content ul li .submenu li.is-active > a {
  background: #c6c6c6;
}
.page-wrapper .widget-sub-navigation .widget-content ul li .submenu li.has-submenu > a:after {
  background-position: -129px -193px;
}
.page-wrapper .widget-video {
  margin-bottom: 30px;
  position: relative;
}
.page-wrapper .widget-video > a {
  display: block;
}
.page-wrapper .widget-video .video-details {
  color: #ffffff;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  position: absolute;
  z-index: 3;
  bottom: 25px;
  left: 0;
}
.page-wrapper .widget-video .video-details a {
  color: #ffffff;
}
.page-wrapper .widget-video .video-details-title {
  display: table;
  font-size: 24px;
  font-size: 2.4rem;
  margin-bottom: 0;
}
.page-wrapper .widget-video .video-details-title .arrow {
  display: table-cell;
  width: 44px;
  position: relative;
  z-index: 1;
  vertical-align: top;
}
.page-wrapper .widget-video .video-details-title .arrow .icon-arrow {
  background: #2c7fc2;
  display: block;
  font-size: 20px;
  font-size: 2.0rem;
  width: 43px;
  height: 43px;
  line-height: 43px;
  padding: 0;
  text-align: center;
}
.page-wrapper .widget-video .video-details-title .arrow .icon-arrow:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f04b";
  font-size: 20px;
  font-size: 2.0rem;
}
.page-wrapper .widget-video .video-details-title .title {
  display: table-cell;
  background: #0f67b3;
  padding: 7px 12px;
}
.page-wrapper .widget-video .video-details-description {
  -webkit-transition: max-height 300ms padding 200ms;
  -moz-transition: max-height 300ms padding 200ms;
  -o-transition: max-height 300ms padding 200ms;
  transition: max-height 300ms padding 200ms;
  background: #2c7fc2;
  padding: 15px;
  display: none;
  overflow: hidden;
}
@media  only screen and (max-width: 767px) {
  .page-wrapper .widget-video .video-details-description {
    display: none !important;
  }
}
.page-wrapper .gallery-carousel-wrap img.rsImg {
  width: 100%;
}
.page-wrapper .gallery-carousel-wrap .royalSlider {
  margin-bottom: 30px;
}
.page-wrapper .gallery-carousel-wrap .rsContent {
  padding-bottom: 20px;
}
.page-wrapper .gallery-carousel-wrap .rsContent .caption {
  padding-top: 10px;
}
.page-wrapper .gallery-carousel-wrap .rsContent .caption .title {
  margin: 0 0 5px;
}
.page-wrapper .gallery-carousel-wrap .rsContent .caption .title .count {
  margin-right: 10px;
}
.page-wrapper .gallery-carousel-wrap .rsContent .caption .title .thin {
  font-weight: 400;
}
.page-wrapper .gallery-carousel-wrap .rsThumbsHor {
  width: 100%;
}
.page-wrapper .gallery-carousel-wrap .rsDefault .rsArrow {
  -webkit-transition: top 250ms ease-in;
  -moz-transition: top 250ms ease-in;
  -o-transition: top 250ms ease-in;
  transition: top 250ms ease-in;
  width: 50px;
  height: 50px;
  top: 50%;
  margin-top: -25px;
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 21;
}
.page-wrapper .gallery-carousel-wrap .rsDefault.rsHor .rsArrowLeft {
  left: 15px;
}
.page-wrapper .gallery-carousel-wrap .rsDefault.rsHor .rsArrowRight {
  right: 15px;
}
.page-wrapper .gallery-carousel-wrap .rsDefault .rsArrowIcn {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  cursor: pointer;
  font-size: 34px;
  font-size: 3.4rem;
  line-height: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
}
.page-wrapper .gallery-carousel-wrap .rsDefault.rsHor .rsArrowRight .rsArrowIcn:before {
  content: "\f054";
}
.page-wrapper .gallery-carousel-wrap .rsDefault.rsHor .rsArrowLeft .rsArrowIcn:before {
  content: "\f053";
}
.page-wrapper .gallery-carousel-wrap .rsDefault .rsArrowDisabled .rsArrowIcn {
  opacity: 0.2;
  filter: alpha(opacity=20);
  *display: none;
}
.page-wrapper .gallery-carousel-wrap .rsSlideCount {
  float: right;
  font-size: 12px;
  font-size: 1.2rem;
  margin-top: 5px;
}
.page-wrapper .map-location-canvas {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  height: 291px;
  width: 100%;
  position: relative;
}
.page-wrapper .map-location-canvas a {
  display: block;
  height: 100%;
  width: 100%;
  text-indent: -999em;
  position: absolute;
  top: 0;
  left: 0;
}
/****************************************************************************************************
	Contains print styles
****************************************************************************************************/
@media print {
  * {
    box-shadow: none !important;
    text-shadow: none !important;
    -ms-filter: none !important;
    filter: none !important;
  }
  /* Black prints faster: h5bp.com/s */
  input,
  textarea,
  select {
    page-break-inside: avoid;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: "";
  }
  abbr[title]:after {
    content: "";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
