/* Define media queries */
/* Define global variables here */
/* Define global less mixins here */
/*****************************************************************
	Contains font-face decalaration
*****************************************************************/
@font-face {
  font-family: 'icomoon';
  src: url('/assets/css/fonts/icomoon/icomoon.eot?x0di15');
  src: url('/assets/css/fonts/icomoon/icomoon.eot?x0di15#iefix') format('embedded-opentype'), url('/assets/css/fonts/icomoon/icomoon.ttf?x0di15') format('truetype'), url('/assets/css/fonts/icomoon/icomoon.woff?x0di15') format('woff'), url('/assets/css/fonts/icomoon/icomoon.svg?x0di15#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*****************************************************************
	Contains helper utility classes
*****************************************************************/
.u-underline {
  text-decoration: underline;
}
.u-round-borders {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
.u-perfect-round {
  -webkit-border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100px;
  -moz-background-clip: padding;
  border-radius: 100px;
  background-clip: padding-box;
}
.u-aligned-center {
  text-align: center;
}
.u-aligned-right {
  text-align: right;
}
.u-aligned-left {
  text-align: left;
}
.u-aligned-justify {
  text-align: justify;
}
.u-uppercase {
  text-transform: uppercase;
}
.u-lowercase {
  text-transform: lowercase;
}
.u-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.u-full-width {
  width: 100%;
}
.display-table {
  display: table;
  height: 100%;
  width: 100%;
}
.display-table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.two-columns {
  column-count: 2;
  column-gap: 30px;
  -moz-column-count: 2;
  -moz-column-gap: 30px;
  -webkit-column-count: 2;
  -webkit-column-gap: 30px;
  -webkit-margin-bottom-collapse: separate;
}
@media  only screen and (max-width: 767px) {
  .two-columns {
    column-count: 1 !important;
    column-gap: 0 !important;
    -moz-column-count: 1 !important;
    -moz-column-gap: 0 !important;
    -webkit-column-count: 1 !important;
    -webkit-column-gap: 0 !important;
  }
}
.two-columns .no-break {
  column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  display: inline-block;
  max-width: 100%;
}
.two-columns li {
  column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
}
.three-columns {
  column-count: 2;
  column-gap: 30px;
  -moz-column-count: 2;
  -moz-column-gap: 30px;
  -webkit-column-count: 2;
  -webkit-column-gap: 30px;
  -webkit-margin-bottom-collapse: separate;
  column-count: 3;
  -moz-column-count: 3;
  -webkit-column-count: 3;
}
@media  only screen and (max-width: 767px) {
  .three-columns {
    column-count: 1 !important;
    column-gap: 0 !important;
    -moz-column-count: 1 !important;
    -moz-column-gap: 0 !important;
    -webkit-column-count: 1 !important;
    -webkit-column-gap: 0 !important;
  }
}
.three-columns .no-break {
  column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  display: inline-block;
  max-width: 100%;
}
.three-columns li {
  column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
}
.no-csscolumns .force-two-columns {
  margin-left: -10px;
  margin-right: -10px;
}
.no-csscolumns .force-two-columns:before,
.no-csscolumns .force-two-columns:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.no-csscolumns .force-two-columns:after {
  clear: both;
}
.no-csscolumns .force-two-columns li {
  float: left;
  width: 50%;
  padding: 0 10px;
}
@media  only screen and (max-width: 579px) {
  .no-csscolumns .force-two-columns li {
    width: 100%;
    float: none;
  }
}
.no-csscolumns .force-two-columns li.second-child {
  clear: both;
}
.no-csscolumns .force-three-columns {
  margin-left: -10px;
  margin-right: -10px;
}
.no-csscolumns .force-three-columns:before,
.no-csscolumns .force-three-columns:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.no-csscolumns .force-three-columns:after {
  clear: both;
}
.no-csscolumns .force-three-columns li {
  float: left;
  width: 33.3333% !important;
  padding: 0 10px;
}
@media  only screen and (max-width: 767px) {
  .no-csscolumns .force-three-columns li {
    width: 100% !important;
    float: none;
  }
}
.no-csscolumns .force-three-columns li.third-child {
  clear: both;
}
img.u-aligned-right {
  float: right;
  margin-left: 20px;
}
@media  only screen and (max-width: 767px) {
  img.u-aligned-right {
    float: none;
    margin-left: 0;
  }
}
img.u-aligned-left {
  float: left;
  margin-right: 20px;
}
@media  only screen and (max-width: 767px) {
  img.u-aligned-left {
    float: none;
    margin-right: 0;
  }
}
/****************************************************************************************************
	Contains typography, base styles of tags, and styles from styleguide
****************************************************************************************************/
html {
  height: 100%;
  -webkit-text-size-adjust: none;
  font-size: 10px;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 300;
  color: #252b34;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #ef4136;
  cursor: pointer;
}
a:hover {
  color: #ef4136;
  text-decoration: none;
}
a:focus {
  color: #ef4136;
  text-decoration: none;
  outline: none;
}
code {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  color: #2f5878;
  background: #eeeeee;
  padding: 2px 9px;
}
p {
  margin: 0 0 20px;
  line-height: 1.4;
}
blockquote {
  border-left-color: #ef4136;
}
img,
iframe {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  margin-top: 0;
}
h1 {
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 1.13;
  margin-bottom: 20px;
}
h2 {
  font-size: 40px;
  font-size: 4.0rem;
  line-height: 1.13;
  margin-bottom: 20px;
}
h3 {
  font-size: 36px;
  font-size: 3.6rem;
  letter-spacing: 0.3px;
  line-height: 1.17;
  margin-bottom: 20px;
}
h4 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.25;
  margin-bottom: 20px;
}
h5 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.33;
  margin-bottom: 20px;
}
ul {
  padding-left: 30px;
  margin-bottom: 20px;
}
ul ul {
  margin-top: 8px;
  padding-left: 30px;
}
ul li {
  margin-bottom: 18px;
}
ol {
  list-style: none;
  padding-left: 16px;
  counter-reset: item;
  margin-bottom: 24px;
}
ol ol {
  margin-top: 8px;
  padding-left: 31px;
}
ol li {
  margin-bottom: 8px;
}
ol > li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
  margin-right: 0px;
}
ol > li > ol {
  counter-reset: item2;
  padding-left: 30px;
}
ol > li > ol > li:before {
  content: counters(item, ".") "." counters(item2, ".") " ";
  counter-increment: item2;
}
ol > li > ol > li > ol {
  counter-reset: item3;
  padding-left: 40px;
}
ol > li > ol > li > ol > li:before {
  content: counters(item, ".") "." counters(item2, ".") "." counters(item3, ".") " ";
  counter-increment: item3;
}
ol.alphabet-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 25px;
}
ol.alphabet-list > li:before {
  content: "(" counter(item, lower-alpha) ") ";
  margin-right: 0;
}
table,
.table {
  font-weight: 300;
  border: 1px solid #ddd;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
table > thead > tr,
.table > thead > tr {
  background: #e5e5e5;
}
table > thead > tr > th,
.table > thead > tr > th {
  font-weight: 500;
  color: #252b34;
  border-bottom: none;
  text-transform: uppercase;
}
table > thead > tr > th,
.table > thead > tr > th,
table > tbody > tr > th,
.table > tbody > tr > th,
table > tfoot > tr > th,
.table > tfoot > tr > th,
table > thead > tr > td,
.table > thead > tr > td,
table > tbody > tr > td,
.table > tbody > tr > td,
table > tfoot > tr > td,
.table > tfoot > tr > td {
  padding: 7px 19px;
  border: 1px solid #ddd;
}
table > thead > tr.total,
.table > thead > tr.total,
table > tbody > tr.total,
.table > tbody > tr.total,
table > tfoot > tr.total,
.table > tfoot > tr.total {
  background-color: #f5f5f5;
}
table > thead > tr.total > th,
.table > thead > tr.total > th,
table > tbody > tr.total > th,
.table > tbody > tr.total > th,
table > tfoot > tr.total > th,
.table > tfoot > tr.total > th,
table > thead > tr.total > td,
.table > thead > tr.total > td,
table > tbody > tr.total > td,
.table > tbody > tr.total > td,
table > tfoot > tr.total > td,
.table > tfoot > tr.total > td {
  text-transform: uppercase;
  font-weight: 500;
}
table > tbody > tr:nth-child(odd) > td,
.table > tbody > tr:nth-child(odd) > td {
  background: none;
}
table > tbody > tr:nth-child(even) > td,
.table > tbody > tr:nth-child(even) > td {
  background: #f5f5f5;
}
.bg-red {
  background: #ef4136;
}
.bg-grey {
  background: #525252;
}
.bg-grey-light {
  background: #f9f9f9;
}
.bg-black {
  background: #000000;
}
.font-icon {
  font-size: 24px;
  font-size: 2.4rem;
}
.font-icon.sm {
  font-size: 16px;
  font-size: 1.6rem;
}
.font-icon.md {
  font-size: 24px;
  font-size: 2.4rem;
}
.font-icon.lg {
  font-size: 35px;
  font-size: 3.5rem;
}
.font-icon.xl {
  font-size: 46px;
  font-size: 4.6rem;
}
.icon {
  text-indent: -999em;
  display: inline-block;
}
/*******************************************
	Start - Your custom classes / styles
*******************************************/
.line-break {
  border-top: 1px solid #ef4136;
  margin-top: 23px;
  margin-bottom: 16px;
  width: 100%;
  clear: both;
}
.line-break.dashed {
  border-top-style: dashed;
}
.line-bold {
  border-top: 1px solid #ef4136;
  margin-top: 23px;
  margin-bottom: 16px;
  width: 100%;
  clear: both;
  border-top: 3px solid #ef4136;
}
.line-bold.dashed {
  border-top-style: dashed;
}
.intro {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33;
  margin-bottom: 20px;
}
/*******************************************
	End - Your custom classes / styles
*******************************************/
/****************************************************************************************************
	Contains bootstrap override style
****************************************************************************************************/
.breadcrumb {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: transparent;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 0;
}
.breadcrumb:before,
.breadcrumb:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.breadcrumb:after {
  clear: both;
}
.breadcrumb li {
  margin-bottom: 0;
  float: left;
}
.breadcrumb li.active {
  color: #252b34;
}
.breadcrumb li:first-child:before {
  display: none;
}
.breadcrumb > li + li:before {
  content: '>';
  color: #252b34;
}
@media  only screen and (max-width: 767px) {
  .breadcrumb > li {
    display: none;
  }
  .breadcrumb > li a {
    vertical-align: middle;
  }
  .breadcrumb > li:before {
    display: none;
  }
  .breadcrumb > li:nth-last-child(2) {
    display: inline-block;
  }
  .breadcrumb > li:nth-last-child(2):before {
    content: '<';
    display: inline-block;
    padding: 0 5px;
    vertical-align: middle;
  }
}
.btn {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  -webkit-transition: all 400ms ease-in;
  -moz-transition: all 400ms ease-in;
  -o-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
  max-width: 100%;
  min-width: 138px;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  background-color: #ef4136;
  color: #ffffff;
}
.btn:hover {
  text-decoration: none;
}
.btn.disabled,
.btn[disabled] {
  opacity: 0.5;
  filter: alpha(opacity=50);
  pointer-events: none;
}
.btn:focus {
  color: #ffffff;
}
.btn:hover {
  color: #ffffff;
  background-color: #b1180e;
}
.btn.disabled:hover,
.btn[disabled]:hover {
  background-color: #ef4136;
  color: #ffffff;
}
.btn .font-icon {
  font-size: 14px;
  font-size: 1.4rem;
  margin-right: 3px;
  margin-left: 3px;
}
.btn.bg-black {
  background-color: #000000;
  color: #ffffff;
}
.btn.bg-black:focus {
  color: #ffffff;
}
.btn.bg-black:hover {
  color: #ffffff;
  background-color: #000000;
}
.btn.bg-black.disabled:hover,
.btn.bg-black[disabled]:hover {
  background-color: #000000;
  color: #ffffff;
}
.btn.btn-lg {
  padding: 15px 30px;
}
.alert {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  border: none;
  position: relative;
  padding: 13px;
  padding-left: 20px;
}
.alert.collapsible {
  padding-right: 70px;
}
.alert .alert-close {
  border-left: 1px solid transparent;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
}
.alert.alert-success .alert-close {
  color: #529138;
}
.alert.alert-warning .alert-close {
  color: #caad16;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder {
  color: #9f9999;
}
input::-moz-placeholder,
textarea::-moz-placeholder,
.form-control::-moz-placeholder {
  color: #9f9999;
}
input:-moz-placeholder,
textarea:-moz-placeholder,
.form-control:-moz-placeholder {
  color: #9f9999;
}
textarea {
  resize: vertical;
}
fieldset + fieldset {
  margin-top: 20px;
}
input[type="radio"],
input[type="checkbox"] {
  position: absolute !important;
  left: -999em;
}
input[type="radio"] + label,
input[type="checkbox"] + label {
  cursor: pointer;
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 0;
  padding-left: 30px !important;
  position: relative;
  text-transform: none;
  vertical-align: middle;
}
input[type="radio"] + label:before,
input[type="checkbox"] + label:before {
  background-image: url("/assets/img/icons.png");
  background-repeat: no-repeat;
  background-position: -5px -4px;
  width: 20px;
  height: 20px;
  content: "";
  display: inline-block;
  text-indent: -999em;
  margin-right: 10px;
  position: absolute;
  vertical-align: middle;
  top: 0;
  left: 0;
}
input[type="radio"]:checked + label:before,
input[type="checkbox"]:checked + label:before {
  content: ",";
  background-position: -35px -4px;
}
input[type="radio"] + label:before {
  background-image: url("/assets/img/icons.png");
  background-repeat: no-repeat;
  background-position: -5px -35px;
  width: 20px;
  height: 20px;
  content: "";
  display: inline-block;
  text-indent: -999em;
}
input[type="radio"]:checked + label:before {
  background-position: -35px -35px;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: 0;
}
.form-control {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #ffffff;
  border: 1px solid #525252;
  border-color: rgba(82, 82, 82, 0.6);
  color: #000000;
  font-size: 18px;
  font-size: 1.8rem;
  height: 45px;
}
.asterisk {
  color: #ef4136;
}
.information-icon {
  font-size: 30px;
  font-size: 3.0rem;
}
.form-group {
  margin-bottom: 30px;
}
.form-group.has-error .form-field {
  position: relative;
}
.form-group.has-error .form-field:after {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  font-size: 2.4rem;
  content: "\f071";
  color: #ef4136;
  font-size: 20px;
  font-size: 2.0rem;
  position: absolute;
  top: 14px;
  right: 19px;
}
.form-group.has-error .form-field:after.sm {
  font-size: 16px;
  font-size: 1.6rem;
}
.form-group.has-error .form-field:after.md {
  font-size: 24px;
  font-size: 2.4rem;
}
.form-group.has-error .form-field:after.lg {
  font-size: 35px;
  font-size: 3.5rem;
}
.form-group.has-error .form-field:after.xl {
  font-size: 46px;
  font-size: 4.6rem;
}
.form-group.has-error .form-control {
  border-color: #ef4136;
}
@media  only screen and (max-width: 767px) {
  .form-group.mod-2-column .row > div {
    margin-top: 20px;
  }
  .form-group.mod-2-column .row > div:first-child {
    margin-top: 0;
  }
}
.form-group label {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.33;
  margin-bottom: 20px;
}
.form-group .form-field {
  position: relative;
}
.form-group .form-field input[type="file"] {
  position: absolute;
  left: -999em;
}
.form-group .form-field input.file-name {
  vertical-align: middle;
  max-width: 250px;
  width: 68%;
  margin-right: 10px;
}
@media  only screen and (max-width: 479px) {
  .form-group .form-field input.file-name {
    max-width: 140px;
  }
}
.form-group .form-field .btn-browse {
  margin: 0;
  vertical-align: middle;
}
.form-group .form-field .alert.alert-danger {
  margin-top: 10px;
  position: relative;
}
.form-group .form-field .alert.alert-danger:before {
  content: "";
  border-bottom: 10px solid #f2dede;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  top: -10px;
  left: 20px;
}
.form-group .form-inline .radio,
.form-group .form-inline .checkbox {
  margin-right: 20px;
}
.form-group .radio input[type="radio"],
.form-group .radio-inline input[type="radio"] {
  margin-left: 0;
}
.form-group .checkbox input[type="checkbox"],
.form-group .checkbox-inline input[type="checkbox"] {
  margin-left: 0;
}
.form-group .radio-inline + .radio-inline,
.form-group .checkbox-inline + .checkbox-inline {
  margin-left: 0;
  padding-left: 0;
}
/*****************************************************************
	Contains layout styles
*****************************************************************/
.main-content {
  padding-top: 50px;
  padding-bottom: 40px;
  min-height: 300px;
}
@media  only screen and (max-width: 767px) {
  .main-content {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}
.sidebar .widget-video .video-details-description {
  display: none !important;
}
@media  only screen and (max-width: 991px) {
  .sidebar {
    margin-top: 15px;
  }
  .sidebar.pull-right {
    margin-top: 0;
  }
}
/*****************************************************************
	Contains header and main navigation styles
*****************************************************************/
.site-head {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
  background: #252b34;
  color: #ffffff;
  font-size: 16px;
  font-size: 1.6rem;
  padding-top: 24px;
  width: 100%;
  position: relative;
  z-index: 10;
}
@media  only screen and (max-width: 991px) {
  .site-head {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: relative;
    padding-bottom: 23px;
  }
}
@media  only screen and (max-width: 767px) {
  .site-head {
    padding-top: 20px;
    padding-bottom: 13px;
  }
}
@media  only screen and (max-width: 991px) {
  .site-head:before {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
    content: "";
    display: block;
    height: 94px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media  only screen and (max-width: 767px) {
  .site-head:before {
    height: 71px;
  }
}
.site-head a {
  color: #ffffff;
  font-weight: 400;
}
.site-head .btn {
  color: #ffffff;
}
.site-head .menu-trigger {
  cursor: pointer;
  display: block;
  float: right;
  text-align: center;
  position: relative;
}
.site-head-logo {
  margin-bottom: 0;
}
@media  only screen and (max-width: 767px) {
  .site-head-logo {
    width: 162px;
  }
}
.site-head-logo a,
.site-head-logo img {
  display: block;
}
.site-head-nav:before,
.site-head-nav:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.site-head-nav:after {
  clear: both;
}
@media  only screen and (max-width: 991px) {
  .site-head-nav {
    display: none;
    padding-bottom: 5px;
    position: relative;
    top: 23px;
  }
}
@media  only screen and (max-width: 767px) {
  .site-head-nav {
    top: 17px;
  }
}
@media  only screen and (min-width: 992px) {
  .site-head-nav {
    display: block !important;
    height: auto !important;
    padding: 0 !important;
  }
}
.site-head-nav > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  float: right;
  margin: 0 -15px;
  text-align: center;
}
.site-head-nav > ul:before,
.site-head-nav > ul:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.site-head-nav > ul:after {
  clear: both;
}
@media  only screen and (max-width: 991px) {
  .site-head-nav > ul {
    float: none;
    margin: 0;
    text-align: left;
  }
}
.site-head-nav-dropdown {
  float: left;
  margin: 0 15px;
  padding-top: 12px;
  padding-bottom: 36px;
  line-height: 1.38;
}
@media  only screen and (max-width: 991px) {
  .site-head-nav-dropdown {
    float: none;
    margin: 0;
    padding: 0;
  }
}
.site-head-nav-dropdown:first-child {
  border-top: none;
}
.site-head-nav-dropdown a {
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  color: #ffffff;
  display: block;
}
@media  only screen and (max-width: 991px) {
  .site-head-nav-dropdown a {
    padding: 15px 0;
    border-top: 1px solid #f9f9f9;
  }
}
.site-head-nav-dropdown.mod-button {
  padding-top: 0;
  padding-bottom: 0;
}
.site-head-nav-dropdown.mod-button a {
  color: #ffffff;
  font-weight: 700;
}
@media  only screen and (max-width: 991px) {
  .site-head-nav-dropdown.mod-button a {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    background: transparent;
    color: #ffffff;
    text-align: left;
  }
}
.site-head-nav-dropdown.is-active a {
  position: relative;
}
.site-head-nav-dropdown.is-active a:after {
  background: #ffffff;
  content: "";
  pointer-events: none;
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: -36px;
  left: 0;
}
@media  only screen and (max-width: 991px) {
  .site-head-nav-dropdown.is-active a:after {
    display: none;
  }
}
.hamburger {
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  background-color: #ffffff;
  display: block;
  margin: 14px 0 14px auto;
  height: 4px;
  width: 30px;
  position: relative;
}
.hamburger:before,
.hamburger:after {
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  content: '';
  display: block;
  background-color: #ffffff;
  height: 4px;
  width: 30px;
  position: absolute;
  left: 0;
}
.hamburger:before {
  top: -8px;
}
.hamburger:after {
  top: 8px;
}
.hamburger.is-active {
  background-color: transparent;
}
.hamburger.is-active:before {
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
  top: 0;
}
.hamburger.is-active:after {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  top: 0;
}
/*****************************************************************
	Contains footer styles
*****************************************************************/
.site-footer {
  border-top: 1px solid #f9f9f9;
  padding-top: 30px;
  padding-bottom: 20px;
}
.site-footer a {
  color: #252b34;
}
.site-footer-nav:before,
.site-footer-nav:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.site-footer-nav:after {
  clear: both;
}
.site-footer-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-footer-nav ul:before,
.site-footer-nav ul:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.site-footer-nav ul:after {
  clear: both;
}
.site-footer-nav ul li {
  float: left;
  margin-left: 20px;
  margin-bottom: 0;
  border-left: 1px solid #f9f9f9;
  padding-left: 20px;
}
.site-footer-nav ul li:first-child {
  border-left: none;
  margin-left: 0;
  padding-left: 0;
}
.site-footer-developer {
  text-align: right;
}
.site-footer-developer p {
  margin-bottom: 0;
}
.site-footer-developer img {
  vertical-align: baseline;
}
/*****************************************************************
	Contains widgets styles, plugin override styles
*****************************************************************/
/*****************************************************************
	Widget - Sub Navigation
*****************************************************************/
.widget-sub-navigation {
  margin-bottom: 30px;
}
.widget-sub-navigation .widget-title {
  padding: 18px 18px 14px;
}
.widget-sub-navigation .widget-content {
  padding: 0;
}
.widget-sub-navigation .widget-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.widget-sub-navigation .widget-content ul li {
  border-top: 1px solid #f9f9f9;
  margin-bottom: 0;
  font-weight: 700;
}
.widget-sub-navigation .widget-content ul li:first-child {
  border-top: none;
}
.widget-sub-navigation .widget-content ul li a {
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  color: #252b34;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}
.widget-sub-navigation .widget-content ul li:hover > a,
.widget-sub-navigation .widget-content ul li.is-active > a {
  position: relative;
  background: #f9f9f9;
}
.widget-sub-navigation .widget-content ul li.has-submenu > a {
  position: relative;
  padding-right: 45px;
}
.widget-sub-navigation .widget-content ul li.has-submenu > a:after {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  font-size: 2.4rem;
  content: "\f078";
  margin-top: -12px;
  position: absolute;
  top: 50%;
  right: 15px;
}
.widget-sub-navigation .widget-content ul li.has-submenu > a:after.sm {
  font-size: 16px;
  font-size: 1.6rem;
}
.widget-sub-navigation .widget-content ul li.has-submenu > a:after.md {
  font-size: 24px;
  font-size: 2.4rem;
}
.widget-sub-navigation .widget-content ul li.has-submenu > a:after.lg {
  font-size: 35px;
  font-size: 3.5rem;
}
.widget-sub-navigation .widget-content ul li.has-submenu > a:after.xl {
  font-size: 46px;
  font-size: 4.6rem;
}
.widget-sub-navigation .widget-content ul li .submenu {
  background: #e0e0e0;
  display: none;
}
.widget-sub-navigation .widget-content ul li .submenu li {
  font-size: 1em;
  font-weight: 400;
  border-top: none;
}
.widget-sub-navigation .widget-content ul li .submenu li a {
  color: #252b34;
}
.widget-sub-navigation .widget-content ul li .submenu li:hover > a,
.widget-sub-navigation .widget-content ul li .submenu li.is-active > a {
  background: #c6c6c6;
}
.widget-sub-navigation .widget-content ul li .submenu li.has-submenu > a:after {
  background-position: -129px -193px;
}
/*****************************************************************
	Widget - Video
*****************************************************************/
.widget-video {
  margin-bottom: 30px;
  position: relative;
}
.widget-video > a {
  display: block;
}
.widget-video .video-details {
  color: #ffffff;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  position: absolute;
  z-index: 3;
  bottom: 25px;
  left: 0;
}
.widget-video .video-details a {
  color: #ffffff;
}
.widget-video .video-details-title {
  display: table;
  font-size: 24px;
  font-size: 2.4rem;
  margin-bottom: 0;
}
.widget-video .video-details-title .arrow {
  display: table-cell;
  width: 44px;
  position: relative;
  z-index: 1;
  vertical-align: top;
}
.widget-video .video-details-title .arrow .icon-arrow {
  background: #2c7fc2;
  display: block;
  font-size: 20px;
  font-size: 2.0rem;
  width: 43px;
  height: 43px;
  line-height: 43px;
  padding: 0;
  text-align: center;
}
.widget-video .video-details-title .arrow .icon-arrow:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  font-size: 2.4rem;
  content: "\f04b";
  font-size: 20px;
  font-size: 2.0rem;
}
.widget-video .video-details-title .arrow .icon-arrow:before.sm {
  font-size: 16px;
  font-size: 1.6rem;
}
.widget-video .video-details-title .arrow .icon-arrow:before.md {
  font-size: 24px;
  font-size: 2.4rem;
}
.widget-video .video-details-title .arrow .icon-arrow:before.lg {
  font-size: 35px;
  font-size: 3.5rem;
}
.widget-video .video-details-title .arrow .icon-arrow:before.xl {
  font-size: 46px;
  font-size: 4.6rem;
}
.widget-video .video-details-title .title {
  display: table-cell;
  background: #0f67b3;
  padding: 7px 12px;
}
.widget-video .video-details-description {
  -webkit-transition: max-height 300ms padding 200ms;
  -moz-transition: max-height 300ms padding 200ms;
  -o-transition: max-height 300ms padding 200ms;
  transition: max-height 300ms padding 200ms;
  background: #2c7fc2;
  padding: 15px;
  display: none;
  overflow: hidden;
}
@media  only screen and (max-width: 767px) {
  .widget-video .video-details-description {
    display: none !important;
  }
}
/*****************************************************************
	Widget - Collapsibles
*****************************************************************/
.collapsible {
  margin-bottom: 30px;
}
.collapsible-item {
  margin-bottom: 10px;
}
.collapsible-item > .collapsible-item-header {
  margin: 0;
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  background: #f9f9f9;
}
.collapsible-item > .collapsible-item-header > a {
  color: #000000;
  position: relative;
  display: block;
  padding: 20px 20px 20px 50px;
  text-decoration: none;
}
.collapsible-item > .collapsible-item-header > a:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  font-size: 2.4rem;
  content: "\f054";
  margin-top: -12px;
  position: absolute;
  left: 22px;
  top: 50%;
}
.collapsible-item > .collapsible-item-header > a:before.sm {
  font-size: 16px;
  font-size: 1.6rem;
}
.collapsible-item > .collapsible-item-header > a:before.md {
  font-size: 24px;
  font-size: 2.4rem;
}
.collapsible-item > .collapsible-item-header > a:before.lg {
  font-size: 35px;
  font-size: 3.5rem;
}
.collapsible-item > .collapsible-item-header > a:before.xl {
  font-size: 46px;
  font-size: 4.6rem;
}
.collapsible-item.is-open > .collapsible-item-header > a:before {
  content: "\f078";
  left: 20px;
}
.collapsible-item-content {
  display: none;
  padding: 5px 20px;
  background: #f9f9f9;
}
.collapsible.arrow-on-right .collapsible-item > .collapsible-item-header a {
  padding: 25px 45px 20px 20px;
}
.collapsible.arrow-on-right .collapsible-item > .collapsible-item-header a:before {
  display: none !important;
}
.collapsible.arrow-on-right .collapsible-item > .collapsible-item-header a:after {
  background-image: url("/assets/img/icons.png");
  background-repeat: no-repeat;
  background-position: -100px -185px;
  width: 12px;
  height: 18px;
  content: "";
  display: inline-block;
  text-indent: -999em;
  content: ".";
  position: absolute;
  right: 29px;
  top: 50%;
  margin-top: -9px;
}
.collapsible.arrow-on-right .collapsible-item.is-open > .collapsible-item-header a:after {
  background-image: url("/assets/img/icons.png");
  background-repeat: no-repeat;
  background-position: -66px -190px;
  width: 18px;
  height: 12px;
  content: "";
  display: inline-block;
  text-indent: -999em;
  content: ",";
  margin-top: -6px;
}
/*****************************************************************
	Widget - Toggle Tabs
*****************************************************************/
.toggle-tabs {
  margin-bottom: 30px;
}
@media  only screen and (max-width: 767px) {
  .toggle-tabs {
    margin-bottom: 20px;
  }
}
.toggle-tabs-nav {
  position: relative;
}
.toggle-tabs-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: table;
  border-bottom: 1px solid #f9f9f9;
  width: 100%;
}
.toggle-tabs-nav ul:before,
.toggle-tabs-nav ul:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.toggle-tabs-nav ul:after {
  clear: both;
}
.toggle-tabs-nav ul > li {
  display: table-cell;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0;
  padding-left: 0;
  position: relative;
}
.toggle-tabs-nav ul > li a {
  background: transparent;
  color: #252b34;
  display: block;
  padding: 12px 28px;
  position: relative;
  text-align: left;
  text-decoration: none;
}
.toggle-tabs-nav ul > li.is-active a {
  background: #f9f9f9;
  cursor: default;
}
.toggle-tabs-nav.mod-float-left ul {
  display: block;
}
.toggle-tabs-nav.mod-float-left ul > li {
  float: left;
}
.toggle-tabs-panel {
  background: transparent;
}
.toggle-tabs-panel-item-header {
  display: none;
}
.toggle-tabs-panel-item-content {
  padding-top: 30px;
  padding-bottom: 10px;
}
@media  only screen and (max-width: 767px) {
  .toggle-tabs.mod-mobile-accordion > .toggle-tabs-nav {
    display: none;
  }
}
@media  only screen and (max-width: 767px) {
  .toggle-tabs.mod-mobile-accordion > .toggle-tabs-panel > .toggle-tabs-panel-item {
    border-bottom: 1px solid #525252;
  }
  .toggle-tabs.mod-mobile-accordion > .toggle-tabs-panel > .toggle-tabs-panel-item:first-child {
    border-top: 1px solid #525252;
  }
}
.toggle-tabs.mod-mobile-accordion > .toggle-tabs-panel > .toggle-tabs-panel-item > .toggle-tabs-panel-item-header {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  background: transparent;
  display: none;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 10px 0;
  text-decoration: none;
}
@media  only screen and (max-width: 767px) {
  .toggle-tabs.mod-mobile-accordion > .toggle-tabs-panel > .toggle-tabs-panel-item > .toggle-tabs-panel-item-header {
    display: block;
  }
}
@media  only screen and (max-width: 767px) {
  .toggle-tabs.mod-mobile-accordion > .toggle-tabs-panel > .toggle-tabs-panel-item > .toggle-tabs-panel-item-content {
    display: none;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}
@media  only screen and (min-width: 768px) {
  .toggle-tabs.mod-mobile-accordion > .toggle-tabs-panel > .toggle-tabs-panel-item > .toggle-tabs-panel-item-content {
    display: block !important;
  }
}
.toggle-tabs.mod-tab-links > .toggle-tabs-panel > .toggle-tabs-panel-item.is-active > .toggle-tabs-panel-item-content {
  display: block !important;
}
/*****************************************************************
	Magnific Popup
*****************************************************************/
.magnific-popup {
  position: relative;
  padding: 20px;
  width: auto;
  max-width: 435px;
  margin: 20px auto;
}
.magnific-popup form header {
  background: #ffffff;
  padding: 20px 65px 20px 30px;
}
.magnific-popup form header h3 {
  color: #000000;
  font-weight: 700;
  margin-bottom: 0;
}
.magnific-popup form .body {
  background: #eeeeee;
  padding: 30px 30px 10px;
}
.magnific-popup form .body:before,
.magnific-popup form .body:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.magnific-popup form .body:after {
  clear: both;
}
@media  only screen and (max-width: 767px) {
  .magnific-popup form .body {
    padding-top: 10px;
  }
}
.magnific-popup form footer {
  background: #ffffff;
  padding: 20px 30px;
}
.magnific-popup form footer .form-row {
  margin-bottom: 0;
}
.magnific-popup form footer .form-group {
  margin-bottom: 0;
}
@media  only screen and (max-width: 767px) {
  .magnific-popup form footer .form-group {
    margin-top: 20px;
  }
  .magnific-popup form footer .form-group:first-child {
    margin-top: 0;
  }
}
.magnific-popup form .form-row.columns {
  margin-left: -6px;
  margin-right: -6px;
}
.magnific-popup form .form-row .col-2 {
  padding: 0 6px;
}
.magnific-popup .white-popup-content {
  -webkit-box-shadow: 0px 1px 3px 1px #525252;
  -moz-box-shadow: 0px 1px 3px 1px #525252;
  box-shadow: 0px 1px 3px 1px #525252;
  background: #ffffff;
}
.magnific-popup .mfp-close {
  top: 30px;
  right: 45px;
  font-size: 40px;
}
.magnific-popup.mfp-video-popup {
  max-width: 865px;
}
.magnific-popup.mfp-video-popup .mfp-iframe-scaler {
  position: relative;
}
.magnific-popup.mfp-video-popup .white-popup-content {
  padding-bottom: 20px;
}
.magnific-popup.mfp-video-popup header {
  padding: 25px 40px 5px 40px;
}
.magnific-popup.mfp-video-popup header h3 {
  color: #000000;
  margin-bottom: 0;
}
.magnific-popup.mfp-video-popup header .mfp-close {
  position: static;
  float: right;
  display: inline-block;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: auto;
  height: auto;
  opacity: 1;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125em;
  /* 18/16 */
  line-height: normal;
}
.magnific-popup.mfp-video-popup header .mfp-close .icon {
  margin-left: 5px;
  vertical-align: middle;
}
.magnific-popup.mfp-video-popup .body {
  padding: 10px 40px;
}
@media  only screen and (max-width: 767px) {
  .magnific-popup.mfp-video-popup header {
    padding: 20px 20px 0px 20px;
  }
  .magnific-popup.mfp-video-popup .body {
    padding: 10px 20px;
  }
}
/****************************************************************************************************
	Contains print styles
****************************************************************************************************/
@media print {
  * {
    box-shadow: none !important;
    text-shadow: none !important;
    -ms-filter: none !important;
    filter: none !important;
  }
  /* Black prints faster: h5bp.com/s */
  input,
  textarea,
  select {
    page-break-inside: avoid;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: "";
  }
  abbr[title]:after {
    content: "";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
