/*****************************************************************
	Contains font-face decalaration
*****************************************************************/

@font-face {
	font-family: 'icomoon';
	src: url('/assets/css/fonts/icomoon/icomoon.eot?x0di15');
	src: url('/assets/css/fonts/icomoon/icomoon.eot?x0di15#iefix') format('embedded-opentype'),
		 url('/assets/css/fonts/icomoon/icomoon.ttf?x0di15') format('truetype'),
		 url('/assets/css/fonts/icomoon/icomoon.woff?x0di15') format('woff'),
		 url('/assets/css/fonts/icomoon/icomoon.svg?x0di15#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}