/*****************************************************************
	Contains footer styles
*****************************************************************/

.site-footer {
	border-top: 1px solid @grey;
	padding-top: 30px;
	padding-bottom: 20px;

	a {
		color: @base-color;
	}

	&-nav {
		.clearfix();

		ul {
			.clearfix();
			.reset-list();

			li {
				float: left;
				margin-left: 20px;
				margin-bottom: 0;
				border-left: 1px solid @grey;
				padding-left: 20px;

				&:first-child {
					border-left: none;
					margin-left: 0;
					padding-left: 0;
				}

			}

		}

	}

	&-developer {
		text-align: right;

		p {
			margin-bottom: 0;
		}

		img {
			vertical-align: baseline;
		}

	}

}