/* Define media queries */
/* Define global variables here */
/* Define global less mixins here */
html,
body {
  overflow: hidden;
}
html.main-styleguide,
body.main-styleguide {
  overflow: auto;
}
.contents {
  padding-top: 50px;
}
.contents code {
  margin-right: 10px;
}
.contents .divider {
  display: block;
  width: 100%;
  height: 2px;
  background: #979797;
  margin: 30px 0;
}
.contents .style-heading {
  color: #4a4a4a;
  margin-bottom: 20px;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: normal;
  font-weight: bold;
  text-transform: none;
}
.contents .style-guide-link-contents {
  margin-top: 40px;
  margin-bottom: 40px;
}
.contents .style-guide-link-contents ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.contents .style-guide-link-contents ul li {
  margin-bottom: 5px;
}
.contents .style-guide-link-contents ul li a {
  font-size: 14px;
  font-weight: 400;
  color: #111111;
}
.contents .heading {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #000000;
  margin-bottom: 20px;
  font-size: 44px;
  line-height: normal;
  font-weight: normal;
  text-transform: none;
}
.contents .style-caption {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  margin: 5px 0 6px;
  color: #969696;
}
.contents .style-caption a {
  color: #969696;
  font-weight: 400;
}
.contents .guide-block {
  margin-bottom: 50px;
}
.contents .grid-block {
  height: 154px;
}
.contents .color-block {
  border: 1px solid #979797;
  height: 124px;
  margin-bottom: 5px;
}
.contents .button-row .btn {
  margin-right: 12px;
}
.contents .tooltip-wrapper {
  margin-bottom: 20px;
}
.contents .icon-list {
  background: #e9e9e9;
  padding: 20px;
}
.contents .icon-list .icon {
  margin-right: 5px;
  margin-bottom: 10px;
  float: none !important;
}
.contents .button-padding {
  padding: 27px 24px 1px;
  margin-bottom: 30px;
}
.contents .filter-wrapper {
  text-align: left;
  padding-left: 0;
}
.contents .share-this ul {
  float: left;
}
.contents .footer-widget .widget {
  padding-top: 15px;
  padding-bottom: 15px;
}
.contents .footer-widget .widget .widget-title {
  border-bottom: none;
  margin-bottom: 0;
}
.contents .sidebar {
  margin-top: 0;
}
.contents .grey-padding {
  padding-top: 20px;
  background-color: #e7e7e7;
}
.top-header {
  color: #999;
  padding: 21px 40px;
  border-bottom: 1px solid #979797;
}
.top-header:before,
.top-header:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.top-header:after {
  clear: both;
}
.top-header .left-column {
  width: 50%;
  float: left;
}
.top-header .right-column {
  width: 50%;
  float: right;
}
.top-header .logo {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
}
.top-header p {
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0;
}
.top-header .styleguide-info {
  text-align: right;
}
.top-header .styleguide-info .info-item {
  margin-right: 30px;
}
.viewport-navigation {
  background-color: #fcfcfc;
}
.viewport-navigation-list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  display: block;
}
.viewport-navigation-list:before,
.viewport-navigation-list:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.viewport-navigation-list:after {
  clear: both;
}
.viewport-navigation-list-item {
  display: block;
  float: left;
  width: 20%;
  margin: 0;
  padding: 0;
}
.viewport-navigation-list-item.is-active {
  background: #dddddd;
}
.viewport-navigation-list-item:before {
  display: none;
}
.viewport-navigation-list-item-link {
  cursor: pointer;
  display: table;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-size: 1.4rem;
  color: #111111;
  border-left: 2px solid #fff;
  line-height: normal;
}
.viewport-navigation-list-item-link-holder {
  display: table-cell;
  vertical-align: middle;
  height: 170px;
}
.viewport-navigation-list-item-link-holder .font-icon {
  display: block;
  font-size: 23px;
  font-size: 2.3rem;
  color: #5e5f5f;
  margin-bottom: 15px;
}
.viewport-navigation-list-item-link:hover {
  color: #111111;
  text-decoration: none;
}
.styleguide-menu-area {
  background: #fff;
  border-top: 2px solid #979797;
  border-bottom: 2px solid #979797;
  position: relative;
}
.styleguide-menu-area-button {
  display: block;
  position: relative;
  padding: 22px 40px;
  color: #4a4a4a;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
}
.styleguide-menu-area-button:after {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f078";
  font-size: 16px;
  font-size: 1.6rem;
  position: absolute;
  right: 40px;
  top: 50%;
  margin-top: -8px;
}
.styleguide-menu-area-button:hover {
  text-decoration: none;
}
.styleguide-menu-area-button.is-active:after {
  content: "\f077";
}
.styleguide-menu-area-list {
  padding: 0;
  margin: 0;
  list-style: none;
  background: #ffffff;
  display: none;
  border-bottom: 2px solid #979797;
  width: 100%;
  position: absolute;
  top: 66px;
}
.styleguide-menu-area-list li {
  margin: 0;
}
.styleguide-menu-area-list a {
  color: #4a4a4a;
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 10px 40px;
}
.icons-area:before,
.icons-area:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.icons-area:after {
  clear: both;
}
.icons-area .icon-holder {
  float: left;
  width: 100px;
  text-align: center;
  margin: 0px 20px 10px;
}
.styleguide-iframe {
  background: #dddddd;
}
.styleguide-iframe-contents {
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  margin: 0 auto;
  width: 100%;
}
.styleguide-iframe-contents iframe {
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  border: none;
  display: block;
  min-height: 600px;
  overflow: hidden;
  width: 100%;
}
